<html>
    <head>
        <title>
            Hacktoberfest Reloading
        </title>
        <link rel="shortcut icon" type="image/jpg" href="../img/gdsc.png"/>
        <style>
            .button2{ background-color: #2B3531 ; /* Green */
  border: none;
  border-radius: 5%;
  color: white;
  padding: 15px 32px;
  margin: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;}
            .button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); cursor: pointer;
}
        </style>
    </head>
    <body>
        <center><img src="https://hacktoberfest.digitalocean.com/_nuxt/img/H-icon-dark.bff3672.svg"</center>
        <h1> Google Developer Student Club @ IIIT Kalyani</h1>
        <a href ='/projects'><button class = "button2">Projects</button></a>
        <a href="/leaderboard"><button class = "button2" href="/leaderboard">Leaderboard</button></a>
    </body>
</html>