<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <style>
      /* * {
        outline: 1px solid red;
        font-family: "JetBrains Mono", monospace;
        outline-offset: -1px;
      } */
    </style>
  </head>
  <body class="bg-[#170F1E]">
    <nav class="navbar sticky overflow-y-hidden h-4 w-screen">
      <h1
        class="text-white whitespace-nowrap overflow-x-hidden text-xs rbinary opacity-20"
      >
        00100100 00110001 00010100 00001110 00000111 00010100 00100010 00100001
        00001011 00011010 00011101 00010001 00000111 00101000 00010110 00000011
        00010011 00011010 00011101 00110010 00001111 00101011 00001100 00011010
        00000010 00001000 00100110 00101011 00110010 00011101 11100100 00101101
        11100100 00000001 00100001 00010110 00010001 00110000 00000011 00001111
        00010100 00100101 00001010 00011100 00000001 00101111 00110010 00101001
        00010110 00000100
      </h1>
    </nav>
    <div class="hero flex flex-col items-center justify-center">
      <img
        class="w-[27rem] mt-[64px] gdsc"
        src="/assets/Group 1.svg"
        alt="GDSC IIIT Kalyani logo"
      />
      <img
        class="h-[20rem] w-[27rem]"
        src="/assets/Logo-2-Color 1.svg"
        alt="hacktober-fest logo"
      />
    </div>
    <div
      class="hero-marquee text-white uppercase text-[90px] whitespace-nowrap overflow-hidden"
    >
      <div class="marquee overflow-hidden">
        <span class="clipped-text ai"> Get in the repo, Hacker! </span>
        <span class="clipped-text ai"> Get in the repo, Hacker! </span>
      </div>
      <div class="marquee overflow-hidden">
        <span class="clipped-text robotics"> launch sequence Initiated </span>
        <span class="clipped-text robotics"> it's time to hack </span>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center mt-[5rem]">
      <img src="/assets/image 13.svg" alt="" />
      <img class="mt-[3rem]" src="/assets/image 4.svg" alt="" />
      <img class="mt-[5rem]" src="/assets/image 13.svg" alt="" />
    </div>
    <div class="rank-board mx-[3rem] mb-[5rem] mt-[5rem]">
      <div class="entry flex justify-between">
        <h1 class="text-[60px] text-white">#1</h1>
        <div class="h-[100px] w-[100px] bg-white rounded-lg">
          <img
            class="h-[100px] w-[100px] rounded-lg translate-y-2 translate-x-2"
            src="/assets/nathan-van-egmond-0IwypLLbHiA-unsplash.jpg"
            alt=""
          />
        </div>
        <div class="user">
          <h2 class="username text-white text-[28px]">@sagamantus</h2>
          <h3 class="full-name text-white text-[40px]">Sagar Mankoti</h3>
        </div>

        <h4 class="text-white points text-[28px] my-auto">420</h4>
      </div>
    </div>
    <img class="mb-8 h-[10px]" src="/assets/Line 1.svg" alt="" />
    <div class="projects flex flex-col mtb-[5rem] items-center justify-center">
      <img src="/assets/image 11.svg" alt="" />
      <img src="/assets/image 13.svg" alt="" />
      
    
    </div>
    <div class="project-portfolio">

      
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
<!-- • -->
