<!DOCTYPE html>
<html>

<title>Leaderboard</title>

<head>
    <link rel="stylesheet" href="../static/Pstyle.css">
</head>

<body>
    <section>
        <div class="text">
            <h2><span><b><i><u>LEADERBOARD</u></i></b></span></h2>
        </div>
    </section>
    <div class="Line1">
        <div class="Container1">
            <div class="Card1 Colour1">
                <div class="img1">
                    <img src="../img/thor.jpg" cursor="pointer" style="border-radius: 25px;">
                </div>
                <div class="Contentbox1">
                    <h2 class="merit_name" id="jeet">Participant 1</h2>
                    <div class="rank">
                        <span class="merit_rank">#1</span>
                    </div>
                    <div class="Points">
                        <span class="merit_points">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container1">
            <div class="Card1 Colour2">
                <div class="img1">
                    <img id = "sri" src="../img/thor.jpg" cursor="pointer" style="border-radius: 25px;">
                </div>
                <div class="Contentbox1">
                    <h2 class="merit_name" id="sss">Participant 2</h2>
                    <div class="rank">
                        <span class="merit_rank">#2</span>
                    </div>
                    <div class="Points">
                        <span class="merit_points">Points : 90</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container1">
            <div class="Card1 Colour3">
                <div class="img1">
                    <img src="../img/thor.jpg" cursor="pointer" style="border-radius: 25px;">
                </div>
                <div class="Contentbox1">
                    <h2 class="merit_name">Participant 3</h2>
                    <div class="rank">
                        <span class="merit_rank">#3</span>
                    </div>
                    <div class="Points" >
                        <span class="merit_points">Points : 85</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="Line2">
        
    </div>
    <script src="../static/script.js"></script>
</body>

</html>