<!DOCTYPE html>
<html>

<title>Leaderboard</title>

<head>
    <link rel="stylesheet" href="Pstyle.css">
</head>

<body>
    <section>
        <div class="text">
            <h2><span><b><i><u>LEADERBOARD</u></i></b></span></h2>
        </div>
    </section>
    <div class="Line1">
        <div class="Container1">
            <div class="Card1 Colour1">
                <div class="img1">
                    <img src="thor.jpg" cursor="pointer" style="border-radius: 25px;">
                </div>
                <div class="Contentbox1">
                    <h2 class="merit_name">Participant 1</h2>
                    <div class="rank">
                        <span class="merit_rank">#1</span>
                    </div>
                    <div class="Points">
                        <span class="merit_points">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container1">
            <div class="Card1 Colour2">
                <div class="img1">
                    <img src="thor.jpg" cursor="pointer" style="border-radius: 25px;">
                </div>
                <div class="Contentbox1">
                    <h2 class="merit_name">Participant 2</h2>
                    <div class="rank">
                        <span>#2</span>
                    </div>
                    <div class="Points">
                        <span class="merit_points">Points : 90</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container1">
            <div class="Card1 Colour3">
                <div class="img1">
                    <img src="thor.jpg" cursor="pointer" style="border-radius: 25px;">
                </div>
                <div class="Contentbox1">
                    <h2 class="merit_name">Participant 3</h2>
                    <div class="rank">
                        <span>#3</span>
                    </div>
                    <div class="Points" >
                        <span class="merit_points">Points : 85</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Line2">
        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#4</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#5</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#6</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#7</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#8</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#9</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#10</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#11</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#12</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Container2">
            <div class="Card4">
                <div class="img2">
                    <img src="spidey.jpg" cursor="pointer">
                </div>
                <div class="Contentbox1">
                    <span> </span>
                    <h2 class="name">Participant 1</h2>
                    <div class="rank">
                        <span>#13</span>
                    </div>
                    <div class="Points">
                        <span class="spoint">Points : 100</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>